table td, table th{
	border: 1px solid #F3F4F6;
	padding: 5px;
}

table td{
	position: relative;
}

table td .actions{
	position: absolute;
	top: 20px;
	right: 10px;
}

table td .actions svg:hover{
	cursor: pointer;
}

table td:last-of-type a{
	margin-right: 10px;
	display: block;
	word-wrap: anywhere;
}

a{
	color: #818CF8;
}

a:hover{
	text-decoration: underline;
}

.shadow-sm{
	margin-bottom: 20px;
}

.hide-log-body{
	font-size: 30px;
}